pyrogram==2.0.103
tgcrypto
requests
pyromod
ffmpeg
mediainfo
cloudscraper
beautifulsoup4==4.9.3
bs4==0.0.1
aiohttp
aiofiles
yt-dlp==2023.6.22
pycryptodome==3.18.0
PySocks==1.7.1
websockets==11.0.3
psutil
async-lru==1.0.2
helper
pyaes==1.6.1
soupsieve==2.2.1
py-tgcalls==0.6.0
jinja2
